@font-face {
    font-family: fonteUm;
    src: url(../fonts/Capsmall.ttf);
}

@font-face {
    font-family: fonteDois;
    src: url(../fonts/webDeveloper.ttf);
}

@font-face {
    font-family: fonteTres;
    src: url(../fonts/CaptureIt.ttf);
}

@font-face {
    font-family: fonteQuatro;
    src: url(../fonts/Prototype.ttf);
}

body {
    background: url(../img/fundo.jpeg) center no-repeat;
    background-size: cover;
}

.content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 99%;
    margin-left: 0.5%;
}

.name {
    text-align: center;
    padding-top: 0.5%;
}

section h1 {
    font-family: fonteTres;
    font-size: 40px;
    color: #CCC;
}

section h2 {
    font-family: fonteDois;
}

section h3 {
    border-radius: 5px;
    font-family: fonteTres;
    color: #CCC;
    border: solid #333;
}

section p {
    font-family: fonteQuatro;
    color: #CCC;
}

section li {
    font-family: fonteQuatro;
    color: #ccc;
}

section p, h3{
    padding-left: 2%;
    padding-right: 2%;
}

.about-me h3 {
    background-color: rgba(245, 100, 100, 0.6);
}

.skills h3 {
    background-color: rgba(102, 0, 204, 0.6);
}

.next-steps h3 {
    background-color: rgba(102, 178, 255, 0.6);
}

.carrer h3 {
    background-color: rgba(0, 204, 204, 0.6);    
}

.carrer {
    padding-bottom: 1%;
}

#contato h3 {
   background-color: rgba(0, 153, 76, 0.6); 
}

contact a {
    margin-top: 5%;
    margin-left: 5%;
}

footer {
    width: 99%;
    height: 15%;
    margin-left: 0.5%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width: 500px) {
    #Autor {
        font-size: 23px;
    }

    section h3 {
        font-size: 20px;
    }

    section p {
      font-size: 13px;
    }

    section li {
      font-size: 13px;
    }
}

